  <% if user.errors.any? %>
    <div id="error_explanation">
      <h7 class="text-danger"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h7>
      <% user.errors.each do |error| %>
      <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <strong>
          <%= error.full_message %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
      <% end %>
    </div>
  <% end %>
